/node_modules
/public/hot
/public/img_prod
/public/storage
/storage/public/images/produits
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
